### MISC ###

### AUTH ###
NEXTAUTH_URL=http://localhost:4200
NEXT_PUBLIC_ROOT_DOMAIN=localhost:4200
AUTH_SECRET=fba390c30819fd5aefb143e4238465768828e821acf128bc9345722bcd21b417
### AXIOS ###
LAB_CLIENT_API_URL=http://localhost:8080