### AUTH ###
NEXTAUTH_URL=http://localhost:4200
AUTH_SECRET=0e8f2d2c23715ee758d6637b346dd789a8939fe8947b856ef1cf21f02e77d666
### LOGGING ###
NEXT_PUBLIC_LOGGING_BEACON_PATH=/api/log
LOGGING_SERVICE_NAME=me
### APP ###
NEXT_PUBLIC_ROOT_DOMAIN=http://localhost:4200